@use '../../../styles/veriables.scss';

.container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container__out{
  width: 70%;
  height: 20rem;

  @include veriables.respond(netbook){
    width:75%;
  }

  @include veriables.respond(tab){
    width:50%;
  }

  @include veriables.respond(phone){
    width: 60%;
  }
}

.arrow::before {
  color: #1F2659;
}