@use '../../../styles/veriables.scss';

.container{
  
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;

  @include veriables.respond(phone){
    padding-top: 4rem;
    width:100%;
  }
}

.container__out{
  width: 80%;
  max-width: 55rem;
  
}

.arrow::before{
  color: veriables.$color-button;
}

