@use '../../../styles/veriables.scss';

.container{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container__out{
  width: 80%;
  max-width: 55rem;
  
}

.arrow::before{
  color: veriables.$color-button;
}

