@use '../../../styles/veriables.scss';
@import '../../../styles/pageStyles.scss';

.header{
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title{
    @extend %title;
    color: veriables.$color-accent;
    font-size:6rem;
    padding: 2.5rem;
  }

  span{
    @extend %span;
    background-color: veriables.$color-accent;
    width: 15rem;
  }
}