@use '../../../styles/veriables.scss';

.section {
  margin-bottom: 6rem;
  height:100%;
  @include veriables.respond(tab){
    height:110vh;
  }

  @include veriables.respond(phone){
    height:105vh;
  }
}



