.section {
  margin-bottom: 4rem;
  height:100vh;
}

.container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container__out{
  width: 70%;
  height: 20rem;

}


