@use '../../styles/veriables.scss';

.navbar {
  height: 7.5rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 25%);
  align-items: center;
  position: sticky;
  background-color: #FFFFFF;
  top: 0;
  z-index: 100;

  @include veriables.respond(netbook-min){
    justify-content: space-between;
  }

  &__list {
    display:flex;
    align-items: center;
    font-size: 1.9rem;
    list-style: none;
    justify-content: space-between;
    @include veriables.respond(netbook-min){
      display: none;
      position: absolute;
      top: 7rem;
      flex-direction: column;
      //align-items: flex-start;
      justify-content: center;
      width:100%;
      background-color: #fff;
    }

    &--element{
      @include veriables.respond(netbook-min){
        padding: 2rem;
      }
      a{
        text-decoration: none;
        color: veriables.$color-primary;
        transition: color 0.2s ease-in-out ;
        padding: 1rem 1.5rem;

        &:hover{
          color: veriables.$color-accent-secondary;
        }
      }
    }

  }

  &__img {
    width:100%;
    max-width: 13.9rem;
    margin-right: 10rem;

    @include veriables.respond(phone){
      margin-left: 5rem;
    }

    @include veriables.respond(netbook){
      margin-right: 0;
    }
  }

  &__button{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: veriables.$color-secondary;
    background-color: #ED335A;
    border-radius: 4.2rem;
    box-shadow: -7.3rem -1px 3rem -1px #ffbe89 inset;
    padding: 1rem 1.4rem;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;

    @include veriables.respond(phone){
      display: none;
    }

    &:hover{
      transform: translateY(-0.7rem);
    }
  }

  
}

.active {
  color: veriables.$color-accent-secondary !important;
}

.active-nav{
  display:flex;
}

.toggle_button{
  position:absolute;
  top: 2.7rem;
  right: 25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  @include veriables.respond(phone){
    right: 5rem;
  }

  @include veriables.respond(netbook-min){
    display: flex;
  }

  .bar{
    height: 3px;
    width: 100%;
    background-color: veriables.$color-accent;
    border-radius: 10px;
  }
}