@use '../../../styles/veriables.scss';
@import '../../../styles/pageStyles.scss';

.header{
  height: 30rem;
  background-color: veriables.$color-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title{
    @extend %title;
    color: #fff;
    font-size:6rem;
    padding: 2.5rem;
  }

  span{
    @extend %span;
    background-color: veriables.$color-accent;
  }

  &__text{
    font-size: 1.8rem;
    color: #fff;
    padding: 2.5rem;
  }
}