@use '../../../styles/veriables.scss';

.section {
  padding: 10rem;
  display:flex;
  align-items: center;
  justify-content: center;

  &__title{
    color: veriables.$color-primary;
    font-size: 5.5rem;
  }

  &__text{
    color: veriables.$color-text;
    font-size: 1.9rem;
  }

  &__element{
    &-1{
      max-width: 65rem;
    }
  }
}