@use '../../../styles/veriables.scss';
@import '../../../styles/pageStyles.scss';

.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  &__img{
    width:18rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: #fff;
  }

  &__name{
    font-size:1.8rem ;
    font-weight: 700;
    color: veriables.$color-button;
    padding: 4rem 0 1rem 0;
  }

  &__title{
    @extend %text;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
  }

  &__text{
    @extend %text;
    margin-top: 4rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }
}