@use '../../../styles/veriables.scss';

.container{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;

  @include veriables.respond(phone){
    width:70%;
  }
}

.container__out{
  width: 80%;
  max-width: 60rem;
  height: 20rem;
  @include veriables.respond(tab){
    max-width: 100%;
    width: 100%;
    height: 55rem;
  }
  @include veriables.respond(phone){
    height: 55rem;
  }


}

.arrow::before{
  color: #fff;
}

