.container{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container__out{
  width: 80%;
  max-width: 60rem;
  height: 20rem;
}

.arrow::before{
  color: #fff;
}

