@use '../../../styles/veriables.scss';

.section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  margin-bottom: 15rem ;
  @include veriables.respond(phone){
    flex-direction: column;
    margin-bottom: 5rem;
  }
}