@use '../../../styles/pageStyles.scss';
@use '../../../styles/veriables.scss';

.container{
  display: flex;
  flex-direction: column;
  padding: 7.5rem 5rem;
  align-items: flex-start;
  justify-content: space-evenly;

  &__title{
    @extend %title;
  }
  span{
    @extend %span;
  }

  &__text{
    font-size: 1.8rem;
  }

  &__button{
    margin-top: 2rem;
    padding: 1rem 1.5rem ;
    font-size: 1.6rem;
    background-color: veriables.$color-button;
    color: #FFF;
    border-radius: 5rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover{
      transform: translateY(-0.7rem);
    }
  }

}

.blue{
  background-color: veriables.$color-accent;
  color: #FFF;
}

.white{
  color: veriables.$color-accent;
}
