@use '../../../styles/veriables.scss';

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);

  @include veriables.respond(tab){
    grid-template-columns: repeat(1, 1fr)
  }
}
