@use '../../../styles/veriables.scss';

.header{
  background-color: veriables.$color-button;
  opacity: 0.56;
  height:50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title{
    font-size: 8rem;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    @include veriables.respond(phone){
      font-size: 5rem;
    }
  }

  &__text{
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
  }
}